<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Read and share messages with the community on our interactive message board."
    />
    <link rel="stylesheet" href="/index.css" />
    <%- include("commonLinks") %>
    <script src="/index.js" defer></script>
    <title>Message Board</title>
  </head>
  <body>
    <div class="board-frame">
      <div class="board-surface">
        <main class="messages">
          <h1 class="visually-hidden">Messages</h1>
          <% for (const message of messages) { %>
          <article
            class="message"
            data-id="<%= message.id %>"
            style="background-color: <%= generateRandomPastelColor() %>"
          >
            <div
              class="pin"
              style="background-color: <%= generateRandomColor() %>"
            ></div>
            <p class="name"><%= message.user %></p>
            <p class="text"><%= message.text %></p>
            <p class="date-and-time"><%= message.added %></p>
          </article>
          <% } %>
        </main>
      </div>
      <%- include("postButton") %>
    </div>
  </body>
</html>
