<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/message.css">
    <link rel="stylesheet" href="/common.css">
    <link rel="stylesheet" href="/normalize.css">
    <title>Viewing message</title>
  </head>
  <body>
    <div class="board-frame">
      <div class="board-surface">
        <article class="message">
            <div class="pin" style="background-color: <%= generateRandomColor() %>;"></div>
            <p class="name"><%= message.user %></p>
            <p class="text"><%= message.text %></p>
            <p class="date-and-time"><%= message.added %></p>
          </article>
        <a class="home-btn" href="/">Home</a>
      </div>
      <%- include("post-btn") %>
    </div>
  </body>
</html>
